@font-face {
    font-family: 'Teko';
    src: url('/fonts/Teko-Regular.ttf');
}

@media (min-width:1400px) {
    .container {
    width: 1370px;
}
}
body {
    width: 100%;
    height: 100%;
    background-color: rgba(197, 202, 232, 1);
    overflow-x: hidden!important;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: Teko;
}

h1 {
    font-family: Teko;
    font-style: normal;
    font-variant: normal;
}

h3 {
    font-family: Teko;
    font-style: normal;
    font-variant: normal;
}

p {
    font-family: Arial,  Helvetica,  sans-serif;
    font-style: normal;
    font-variant: normal;
    line-height: 20px;
}

blockquote {
    font-family: Arial,  Helvetica,  sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    line-height: 30px;
}

pre {
    font-family: Arial,  Helvetica,  sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    line-height: 18.5714282989502px;
}

title {
    font-size: 1.2em;
    font-weight: bold;
}
.head-up{
  z-index: 22;
}
.page_wrapper{
    height: 100%;
}
.top-bg{

    background-color: #313653; 
    background-size: 100%;
    height:400px;
}

.paper{
    background: #E6E6E6;
    width: 100%;
    height: 100%;
    position: relative;
      -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);


}
.absolute-wrapper{
   position:absolute;
   width:100%;
   height:auto;
   left: 0;
   right: 0;
   display: block;
   /*bottom:10px!important;*/
   bottom:0;
   margin:auto;
   background: transparent;
   top: 500px;
   z-index: 2222;
}
.absolute-wrapper_2{
   position:absolute;
   width:100%;
   height:auto;
   left: 0;
   right: 0;
   display: block;
   /*bottom:10px!important;*/
   bottom:0;
   margin:auto;
   background: transparent;
   top: 200px;
   z-index: 2222;
}
/*for Video*/
/* ============================================================
  DEMO 3 - BACKGROUND VIDEO
============================================================ */
#cmn-video-demo3__container {
  position: relative;
  margin: 0 0 0 0;
  height: 500px!important;
  background-color: #282828;
  overflow: hidden;

}

#cmn-video-demo3__video {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 600px;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#cmn-video-demo3__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 70px 20px;
  text-align: center;
  background:rgba(255,255,255,0.7);

}
/*#cmn-video-demo3__content h2,
#cmn-video-demo3__content p,
#cmn-video-demo3__content a {
  text-shadow: -1px 1px 4px rgba(0, 0, 0, 0.6);
}*/
#cmn-video-demo3__content h2 {
  font-family:"Teko";
  font-size: 90px;
  color: #004EAE;
}
#cmn-video-demo3__content p {
  margin-bottom: 40px;
  color: #F14A00!important; 
}
#cmn-video-demo3__content a {
  margin: 0;
  font-family: "Roboto Slab", serif;

}
#cmn-video-demo3__content a:hover {
  background-color: #fff;
  color: #787878;
  text-shadow: none;
}

@media all and (min-width: 600px) {
  #cmn-video-demo3__container {
    height: 480px;
  }

  #cmn-video-demo3__video {
    width: 1024px;
  }

  #cmn-video-demo3__content {
    padding: 160px 20px;
  }
  #cmn-video-demo3__content h2 {
    font-size: 50px;
  }
  #cmn-video-demo3__content p,
  #cmn-video-demo3__content a {
    font-size: 18px;
  }
}
@media all and (min-width: 1024px) {
  #cmn-video-demo3__container {
    height: 600px;
  }

  #cmn-video-demo3__video {
    width: 1600px;
  }

  #cmn-video-demo3__content {
    padding: 50px 20px;
  }
  #cmn-video-demo3__content h2 {
    font-size: 70px;
  }
  #cmn-video-demo3__content p,
  #cmn-video-demo3__content a {
    font-size: 24px;
  }
}

.wrapper.demo3 {
  max-width: 1600px;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}

.support_head{
  padding: 5px 0;
  font-family: "Teko";
  text-align: center;
  font-size: 26px;
  color: #fff;
}