ul#editor-annotation{
	background: #E9E9E9;
	padding:19px;
	list-style:none;
	display:none;
}
ul li div{
	float: right;
}
ul li div span{
	background: #444242;
	color:#fff;
	padding: 3px;
	cursor: pointer;
	
}
ul li div span:hover{
	border:1px solid #2997db;
}
#edit-types{
	color: #000000;
	font-weight: bold;
}

.annotation-loader span{
   display: inline-block;
    vertical-align: middle;
    width: 2px;
    height: 10px;
    margin: 50px auto;
    background: #063782;
    /*border-radius: 15px;*/
    -webkit-animation: loading 0.9s infinite alternate;
    -moz-animation: loading 0.9s infinite alternate;
    box-shadow:1px 1px 1px #444444;
    margin-right: 2px;
}
.annotation-loader span:nth-of-type(2) {
    background: #063782;
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
}

.annotation-loader span:nth-of-type(3) {
    background: #063782;
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
}

.annotation-loader span:nth-of-type(4) {
    background: #063782;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}

.annotation-loader span:nth-of-type(5) {
    background: #063782;
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
}
@-webkit-keyframes loading {

  0% {
    width: 2px;
    height: 10px;
    -webkit-transform: translateZ(0);

  }

  100% {
    width: 8px;
    height: 24px;
    -webkit-transform: translateZ(-21px);
  }

}

@-moz-keyframes loading {
  0% {
    width: 2px;
    height: 10px;
    -moz-transform: translateZ(0);
  }

  100% {
    width: 8px;
    height: 24px;
    -moz-transform: translateZ(-21px);
  }

}

div.speech{
	/*resize:both;
	overflow: hidden;*/
	position: absolute;
	width: 200px;
	height: 70px;
	text-align: center;
	background-color: rgba(42,42,42,0.6);
	border: 8px solid transparent;
	color:#fff;
	left:20px;
	top:20px;
}
div.speech:before{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
	bottom: 62px;
	border: 20px solid;
	border-color: transparent transparent transparent transparent;
}
div.speech:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
	top: 62px;
	border: 10px solid;
	border-color: rgba(42,42,42,0.6) transparent transparent rgba(42,42,42,0.6);
}

button#edit-start-inc{
	border:none;cursor:pointer;outline:1px solid #bab6b6;width:20px;height:16px;text-align:center;background:#e8e5e5;color:#bab6b6;position:relative;top:-34px;float:right;
}
button#edit-start-dec{
	border:none;cursor:pointer;outline:1px solid #bab6b6;width:20px;height:16px;text-align:center;background:#e8e5e5;color:#bab6b6;position:relative;margin-right:-20px;top:-16px;float:right;
}
button#edit-end-inc{
	border:none;cursor:pointer;outline:1px solid #bab6b6;width:20px;height:16px;text-align:center;background:#e8e5e5;color:#bab6b6;position:relative;top:-34px;float:right;
}
button#edit-end-dec{
	border:none;cursor:pointer;outline:1px solid #bab6b6;width:20px;height:16px;text-align:center;background:#e8e5e5;color:#bab6b6;position:relative;margin-right:-20px;top:-16px;float:right;
}