	/* Moving on to the styling, we'll start with the main progress bar
	 first and then the value part of it. After that, we'll do some experiments :D */
	.wrapper {
		background: #2a2a2a;
		padding:0 10px 8px 10px;
		width: 100%!Important;
		margin-top: 0;
		border-top: 1px solid #000;
	}#media-video{
		width: 100%;
		background: #000000;
	}video::-webkit-media-controls {
	  display:none !important;
	}video::-moz-media-controls {
	  display:none !important;
	}video::-o-media-controls {
	  display:none !important;
	}video::-ms-media-controls {
	  display:none !important;

		
	}
	img#play-pause{
		cursor:pointer;
	}
	.img-play{
		padding:0 5px;
		margin-right: 10px;
	}
	.sound{
		padding:0 5px;
		cursor:pointer;
		position: relative;
	}.logo{
		width: 100px;
		height: 50px;
		position: absolute;
		right: 0;
		background:rgba(42,42,42,0.9);
		border-radius: 10px;
	}

	.fullscreen{
		padding:0 5px;
		cursor:pointer;
	}
	
	.time{
		color: #fff;
		font-size: 0.9em;
		padding: 2px;
	}

	.title{
		color: #b5daf9;
		font-size: 0.9em;
		font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
		font-weight: normal!Important;

	}
	.playerLogo{
		height:20px;
		width:15px;
	}



div#progressbar{
	width:100%;height:10px;background:#111111;padding:1px;border:2px solid #131313;margin-top: 5px;
	border-radius: 3px;	margin-bottom: 5px;
}

div#progressbar #current-progress{
	width:0px;height:100%;background:#D0D0D0;border-radius: 2px; position: relative;		
}div#button-progress{
	z-index: 2;
	width: 25px;
	height: 25px;
	position: absolute;
	left: -20px;
	text-decoration: overline;
	background: url('/img/icons/handle.png') no-repeat 50% 50%;
	outline:none;
	top: -11px;
	margin-left: 10px;

}
.volume{
	border-radius:5px;height:150px;min-width:5px;position:absolute;bottom:20px;right:0;
	background:transparent;padding: 8px;
}
#volume-vertical{
	width:100%;
	height:100%;
	background: #337AB7;
	border-radius:2px;
	position: absolute;
	bottom: 0;
}
#volume-button{
	width:100%;
	height:15px;
	background: #fff;
	border-radius:10px;
	cursor: pointer;
}
/*#volume-button:hover{
	background: red;
	cursor: pointer;
}*/
div.volume div.volume-static-holder{
	border:1px solid #fff;
	background: transparent;
	width:9px;
	height: 70%;
	border-radius:10px;
	position: relative;

}/*#volume{
	-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    width: 100%;
    position: relative;
}*/
 /*Special styling for WebKit/Blink */
input#seek-slider{
	-webkit-appearance: none;
	border-radius: 5px;
	box-shadow: inset 0 0 5px #333;
	background-color: #999;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	border: none;
	outline:none;	
}input#seek-slider::-moz-range-track {
	-moz-appearance: none;
	border-radius: 5px;
	box-shadow: inset 0 0 5px #333;
	background-color: #999;
	width: 100%;
	height: 100%;
	border: none;
	outline:none;
}
input#seek-slider::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	border-radius: 20px;
	background-color: #FFF;
	box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
	border: 1px solid #999;
	height: 20px;
	width: 20px;
}
input#seek-slider::-moz-range-thumb {
	-moz-appearance: none;
	border-radius: 20px;
	background-color: #FFF;
	box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
	border: 1px solid #999;
	height: 20px;
	width: 20px;
}
input#volume {
	-webkit-appearance: none;
	border-radius: 5px;
	box-shadow: inset 0 0 5px #333;
	background-color: #999;
	height: 10px;
	vertical-align: middle;
	width: 100px;
	position: absolute;
	bottom: 50px;
	left:-50px;
	-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    border: none;
	outline: none;
	}
input#volume::-moz-range-track {
	-moz-appearance: none;
	border-radius: 5px;
	box-shadow: inset 0 0 5px #333;
	background-color: #999;
	height: 10px;
}
input#volume::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	border-radius: 20px;
	background-color: #FFF;
	box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
	border: 1px solid #999;
	height: 20px;
	width: 20px;
}
input#volume::-moz-range-thumb {
	-moz-appearance: none;
	border-radius: 20px;
	background-color: #FFF;
	box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
	border: 1px solid #999;
	height: 20px;
	width: 20px;
}

/* setting area*/
.hd-setting{
	border-radius:5px;min-height:5px;min-width:5px;position:absolute;bottom:50px;right:10px;
	background:rgba(42,42,42,0.9);padding: 5px;cursor: default;
}
.hd-setting ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.hd-setting ul li{
	padding:2px;
}
.hd-setting ul li a{
	color:#fff;
	text-decoration: none;
}

.share-video{
	border-radius:5px;min-height:5px;min-width:5px;position:absolute;bottom:50px;right:10px;
	background:rgba(42,42,42,0.9);padding: 5px;cursor: default;
}
.share-video ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.share-video ul li{
	padding:2px;
}
.share-video ul li a{
	color:#fff;
	text-decoration: none;
}
#hd-setting{
	cursor:pointer;
}
#share-video{
	cursor:pointer;
}
.advertisement{
	position: absolute;
	bottom: 60px;
	background:rgba(42,42,42,0.9);
	width: 100%;
	min-height:10px;
}
button#play{
	background:rgba(42,42,42,0.9);
	border:none;
	color:#fff;
	outline: none;
}button#play:hover{
	color:#377AB7;
	border:none;
	outline: none;
}
 .play-icon{
 	margin: auto;  
  	position: absolute;
 	left:0;
  	right: 0;
  	top: 0;
  	bottom: 0;
  	width: 80px;
  	height: 80px;
  border-radius: 10px;

  	cursor: pointer;
  	background: rgba(27,27,27,0.6);
}.play-icon span{
	color:#fff;
	margin: auto;  
  	position: absolute;
 	left:0;
  	right: 0;
  	top: 0;
  	bottom: 0;
  	cursor: pointer;
  	text-align:center;
  	  	padding: 20px;

}.play-icon:hover{
	-moz-box-shadow:inset 0px 2px 13px #ffffff;
	-webkit-box-shadow:inset 0px 2px 13px #ffffff;
	box-shadow:inset 0px 2px 13px #ffffff;
}
#plus-vol{
	cursor:pointer;color:#fff;position:relative;top:0;
}#plus-vol:hover{
	color:#337AB7;
}
#minus-vol{
	cursor:pointer;color:#fff;position:relative;left:2px;bottom:0;
}#minus-vol:hover{
	color:#337AB7;
}
span.close{
cursor:pointer;
padding:3px;
background:blue;
color:#fff;
position:absolute;
right:2px;
border-radius: 2px;
}
span.close:hover{
background:red;
color:#fff;
}
.fullscreen-video{
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}
.progress-button {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
